@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: rgba(255, 166, 0, 0.449);
  border: 2px solid rgb(19, 76, 37);
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-family: inherit;
  /* max-width: 100px; */
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

image:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;

}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  color: white;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.forms {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(89, 75, 195, 0.188);
}


.image {
  display: flex;
  flex-direction: column;
  width: 25%;
  cursor: pointer;
  background-color: rgb(19, 106, 27);
}

.container-1 {
  background-image: url("../public/wood.jpg");
  display: flex;
  color: aliceblue;
}

.container-2 {
  /* display: flex; */
  display: grid;
  color: aliceblue;

}

.container-3 {
  color: aliceblue;
  display: flex;
  /* display: grid; */

  scroll-behavior: smooth;
  grid-template-rows: 1fr 1fr;
  padding: 50px 182px;

}

.assetBox {
  padding: 15px;
}

.articleBox {
  display: grid;

  width: 1520px;
  height: 960px;

}

.container-4 {
  display: flex;
  color: aliceblue;
  /* display: grid; */
  width: fit-content;


}


.box-1,
.container-1,
.container-2,
.box-2 {
  color: white;
  border: 1px rgb(240, 238, 238) solid;
  padding: 10px;
  border-radius: 23px;
  max-height: min-content;
}



.margin {
  background-image: url("../public/istockphoto-184921412-170667a.jpg");
  color: rgb(10, 8, 8);
  border: 1px rgb(240, 238, 238) solid;
  padding: 10px;
  border-radius: 25px;
  display: flex;
}

.box-1 {
  display: flex;
  flex: 1;
}


.box-2 {
  display: grid;
  overflow-y: scroll;

}



.box-3 {
  display: grid;
  overflow-y: scroll;
  border-radius: 25px;

}

.box-4 {
  display: grid;
  overflow-y: scroll;



}

.box-5 {
  display: grid;


}

.articles {
  padding: 10px;
  border: 1px;
  display: flex;
  border: 1px rgb(240, 238, 238) solid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto auto;
  grid-template-areas: "hd hd"
    "sidebar main"
    "footers footers";
  background-color: rgba(163, 103, 24, 0.678);
  /* padding: 1px 4px;
  border-radius: 25px; */
}

.header {
  grid-area: hd;
}

.aside {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footers {
  grid-area: footer;
}

.paragraph {
  display: flex;
  box-sizing: inherit;
  flex-direction: justify;
  width: 50%;
  text-align: left;
  text-overflow: auto;
  width: 960px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}


.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

body {
  height: fit-content;
  position: absolute;
  width: 100%;
  background-image: url("../public/banner2.jpg");

}

/* frontend\public\banner2.jpg */
ul {
  list-style: none;
}

.assetlist-image {
  width: 150px;
  scroll-behavior: smooth;
}

.assetlist-item {
  display: flex;
  color: white;
}

.assetsummary {
  border-color: white !important;
  border-style: outset !important;
}

.asset-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.asset:hover .delete-icon {
  display: block;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-image: url("../public/wood.jpg");


}