@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: rgba(255, 166, 0, 0.449);
  border: 2px solid rgb(19, 76, 37);
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

image:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
  
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  color: white;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.forms {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(89, 75, 195, 0.188);
}


.image {
  display: flex;
  flex-direction: column;
  flex-shrink: 1px;
  cursor: pointer;
  background-color: rgb(19, 106, 27);
}

.container-1 {
  display: flex;
}

.container-2 {
  display: flex;
}

.container-3 {
  display: flex;
  width: 50%;
}
.container-4 {
  display: flex;
  width: fit-content;
  
}

.box-4
.box-1 div,
.container-1 div,
.container-2,
.box-2 div {
  color: white;

  border: 1px rgb(6, 5, 5) solid;
  padding: 10px;
  border-radius: 25px;

}




.box-1 {

  display: flex;
  align-content: center;
  border-radius: 25px;
  position: fixed;
  /* Set the navbar to fixed position */
  bottom: 0;
  align-items: stretch;
  /* Position the navbar at the top of the page */
  width: 100%;

}

.box-5 {

  padding: 1px 4px;
  border-radius: 25px;
  position: fixed;
  align-items: center;
  /* Set the navbar to fixed position */
  bottom: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
}

.box-2 {
  /* display: block;
  width: 65%;
  height: 25px;
  margin: 2px;
  padding: 3px 4px;
  font-size: 10px;
  flex-direction: column; */
  margin: auto;
  padding: 1px 4px;
  border-radius: 25px;
  /* background:rgb(14, 38, 17); */
  background-color: rgba(77, 184, 56, 0.364);
  max-height: fit-content;
  display: flex;

}



.box-3 {
  display: grid;
  padding: 1px 4px;
  border-radius: 25px;
  box-sizing: inherit;
  max-height: fit-content;
  flex :2;

}

.box-4 {
padding: 1px 4px;
  width:50%


}

.articles {
  padding: 10px;
  border: 1px;
  display: flex;
  grid-template-columns: 50% auto;
  grid-template-rows: auto auto;
  grid-template-areas: "hd hd"
    "sidebar main"
    "footer footer";
  background-color: rgba(163, 103, 24, 0.678);
  /* padding: 1px 4px;
  border-radius: 25px; */
}

.header {
  grid-area: hd;
}

.aside {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.paragraph {
  display: flex;
  box-sizing: inherit;
  flex-direction: justify;
  width: 50%;
  text-align: left;
  text-overflow: auto;
  width: 960px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}


.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

body {
  background-image: url("../public/banner2.jpg");
}
/* frontend\public\banner2.jpg */
ul {
  list-style: none;
}

.assetlist-image {
  width: 150px;
  scroll-behavior: smooth;
}

.assetlist-item {
  display: flex;
  color: white;
}

.assetsummary {
  border-color: white !important;
  border-style: outset !important;
}

.asset-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.asset:hover .delete-icon {
  display: block;
}
/* .background{
  background-image: ;
} */