@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid rgb(19, 76, 37);
  color: rgb(224, 220, 214);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: e-resize;
  color: white;
  background-color: steelblue;
}

image:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;

}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}


.image {
  display: flex;
  flex-direction: column;
  flex-shrink: 1px;
  cursor: pointer;
  color: white;
  background-color: rgb(19, 106, 27);
}

.container-1 {
  display: flex
}

.container-1 div {

border: 1px rgb(6, 5, 5) solid;
padding: 10px;

}

.box-1 {
  /* display: block;
  width: 65%;
  height: 25px;
  margin: 2px;
  padding: 3px 4px;
  font-size: 10px;
  justify-content: flex-end;
  flex-direction: column; */
  padding: 1px 4px;
  border-radius: 25px;
  background-color: rgb(189, 125, 41);
  box-sizing: inherit;

}



.box-2 {
  padding: 1px 4px;
  border-radius: 25px;
  box-sizing: inherit;
}

.paragraph {
  display: flex;
  box-sizing: border-box;
  flex-direction: justify;
  width: 50%;
  text-align: left;
  text-overflow: auto;
}
